@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Bold.woff2') format('woff2'),
        url('Calibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Medium.woff2') format('woff2'),
        url('Calibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Classroom JNL';
    src: url('ClassroomJNL.woff2') format('woff2'),
        url('ClassroomJNL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

